

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            This website has been developed with <strong>Bulma</strong> by <a
            href="https://www.linkedin.com/in/juan-pedraza/">@Juan_pedraza</a>.
        </p>
    </div>
</footer>

<script src="../../public/js/bulma.js" type="text/javascript"></script>

</body>
</html>