<nav class="navbar is-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            Nodejs - ejs
        </a>

        <a class="navbar-burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>

    <div class="navbar-menu" id="nav-links">
        <div class="navbar-end">
            <a class="navbar-item">
                Inicio
            </a>

            <a class="navbar-item">
                Servicios
            </a>

            
        </div>

        
    </div>
</nav>